// fonts
$fontFamilyMain: cursive;
//index
$containerGrid: 304px;
// Colors
$colorlink: #795763;
$hamburgerLine: #13547a;
$colorBorderCard: #13cfe8;
$colorPlay: #13547a;
$backgroundPrimary: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
$backgroundSecondary: #f8bbd0;
$backgroundPrimaryLight: #ffc1e3;
$backgroundPrimaryDark: #a3dad2e1;
$backgroundSecondaryLight: #ffeeff;
$backgroundSecondaryDark: #c48b9f;
// Cards
$mainCardsWdidth: 318px;
$mainCardHeight: 250px;
$mainCardTextHeight: 40px;