.menu-adaptive-container {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    height: 30px;
    top: 0;
    left: 0;
}

.menu-adaptive-container b {
    color: red;
}

.first-column,
.second-column,
.third-column,
.fourth-column,
.fifth-column {
    text-align: center;
    cursor: pointer;
    &:hover {
        color: brown;
    }
}