@keyframes pause {
    0% {
        opacity: 1
    }
    50% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

* {
    font-family: cursive;
}

body {
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    min-height: 100vh;
}

input {
    -webkit-appearance: none;
    border-radius: 0
}

.main-container {
    display: flex;
    flex-direction: column;
    max-width: 460px;
    margin: 0 auto;
}

.main-game {
    display: flex;
    width: 460px;
    height: 460px;
    flex-wrap: wrap;
    box-shadow: 0 0 0 1px #a7a7a7;
    position: relative;
    border-radius: 5px;
}

.main-game input {
    box-shadow: inset 0 0 0 1px #c8c8c8;
    width: calc(100% / 4);
    height: calc(100% / 4);
    border: 0;
    outline: none;
    padding: 0;
    transition: all .1s linear;
    z-index: 1;
    cursor: pointer;
    background-color: lavender;
    color: antiquewhite;
    font-size: 24px;
    border-radius: 5px;
    background-size: 100%;
    background-image: none;
}

.main-game input:active {
    filter: brightness(1)
}

.main-game input.empty {
    background: none;
    box-shadow: none
}

.game-mode {
    margin: 10px 0
}

.game-mode .game-mode__change-mode {
    margin-top: 10px
}

.game-mode .game-mode__change-mode input {
    cursor: pointer;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    color: #ededed;
    outline: none;
    background-color: #3b3b3b
}

.game-mode .game-mode__change-mode input:active {
    filter: brightness(1.1);
    transform: translateY(1px)
}

.game-mode .game-mode__change-mode input~input {
    margin-left: 11px
}

.control {
    display: flex;
    margin: 10px 10px
}

.control input {
    cursor: pointer;
    border: 0;
    padding: 7px 12px;
    border-radius: 5px;
    font-size: 14px;
    color: #f5f5f5;
    outline: none
}

.control input~input {
    margin-left: 12px
}

.control input:first-child {
    background-color: #5475aac2
}

.control input:last-child {
    background-color: #3f577ec2
}

.control input:nth-child(2) {
    background-color: #7a533ddc
}

.control input:nth-child(3) {
    background-color: #5ba58ce1
}

.control input:active {
    filter: brightness(1.1);
    transform: translateY(1px)
}

.main-game.three input {
    width: calc(100% / 3);
    height: calc(100% / 3);
    /* background-size: 300%; */
}

.main-game.three input.empty {
    border: none;
    background: none;
    box-shadow: none
}

.main-game.five input {
    width: calc(100% / 5);
    height: calc(100% / 5);
    /* background-size: 500%; */
}

.main-game.five input.empty {
    border: none;
    background: none;
    box-shadow: none
}

.main-game.six input {
    width: calc(100% / 6);
    height: calc(100% / 6);
    /* background-size: 600%; */
}

.main-game.six input.empty {
    border: none;
    background: none;
    box-shadow: none
}

.main-game.seven input {
    width: calc(100% / 7);
    height: calc(100% / 7);
    /* background-size: 700%; */
}

.main-game.seven input.empty {
    border: none;
    background: none;
    box-shadow: none
}

.main-game.eight input {
    width: calc(100% / 8);
    height: calc(100% / 8);
    /* background-size: 800%; */
}

.main-game.eight input.empty {
    border: none;
    background: none;
    box-shadow: none
}

input:hover {
    filter: brightness(0.9)
}

.info-block {
    display: flex;
    justify-content: space-between
}

.hover-wrap-start {
    position: relative
}

.hover-start {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    width: 460px;
    height: 460px;
    z-index: 100;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.hover-start .hover-start__wrap {
    margin: 0 50px;
    text-align: center;
    color: white;
    line-height: 35px
}

.hover-start .hover-start__repair {
    -webkit-appearance: none;
    border-radius: 5px;
    border: none;
    background-color: #6fd4a5e0;
    color: #f3f3f3;
    margin-top: 10px;
    padding: 7px 15px;
    cursor: pointer;
    outline: none
}

.hover-start .hover-start__repair:hover {
    filter: brightness(0.9)
}

.hover-start .hover-start__repair:active {
    filter: brightness(1.1);
    transform: translateY(1px)
}

.hover-pause {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    width: 460px;
    height: 460px;
    z-index: 100;
    display: flex;
    align-items: center;
    display: none;
    justify-content: center;
    border-radius: 5px;
}

.hover-pause .hover-pause__wrap {
    margin: 0 50px;
    text-align: center;
    color: white;
    line-height: 35px;
    font-size: 35px;
    animation-name: pause;
    animation-duration: 1s;
    animation-iteration-count: infinite
}

.hover-result {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    width: 460px;
    height: 460px;
    z-index: 100;
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: left;
    display: none;
    z-index: 105;
    border-radius: 5px;
}

.hover-result .hover-result__wrap {
    margin: 0 50px;
    text-align: center;
    color: white;
    line-height: 35px;
    display: flex;
    flex-direction: column;
    text-align: left;
    color: grey
}

.hover-win {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    width: 460px;
    height: 460px;
    z-index: 100;
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: center;
    flex-direction: column;
    display: none;
    border-radius: 5px;
}

.hover-win .hover-win__wrap {
    margin: 0 50px;
    text-align: center;
    color: white;
    line-height: 35px;
    display: flex;
    flex-direction: column;
    color: grey
}

.hover-win .close-win {
    -webkit-appearance: none;
    border-radius: 5px;
    border: none;
    background-color: #7c90ef;
    color: #ededed;
    margin-top: 20px;
    padding: 7px 15px;
    cursor: pointer;
    outline: none
}

.hover-win .close-win:hover {
    filter: brightness(0.9)
}

.hover-win .close-win:active {
    filter: brightness(1.1);
    transform: translateY(1px)
}

.saved {
    display: none;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    position: fixed;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    color: #383838;
    animation-name: pause;
    animation-duration: 3s
}

.block-hover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 105
}

@media only screen and (max-width: 767px) {
    .main-container {
        width: 95vw;
        max-width: 95vw
    }
    .info-block {
        padding: 0;
        font-size: 4vw
    }
    .control {
        display: flex;
        justify-content: space-between;
        margin: 5px auto;
        width: 95vw
    }
    .control input {
        font-size: 3vw;
        padding: 2vw 2vw
    }
    .control input~input {
        margin-left: 0
    }
    .control input:first-child {
        width: 35vw
    }
    .control input:last-child {
        width: 22vw
    }
    .control input:nth-child(2) {
        width: 12vw
    }
    .control input:nth-child(3) {
        width: 20vw
    }
    .hover-start {
        width: 95vw;
        height: 95vw
    }
    .hover-pause {
        width: 95vw;
        height: 95vw
    }
    .hover-result {
        width: 95vw;
        height: 95vw
    }
    .hover-win {
        width: 95vw;
        height: 95vw
    }
    .main-game {
        width: 95vw;
        height: 95vw
    }
    .game-mode .game-mode__change-mode {
        display: flex;
        justify-content: space-between
    }
    .game-mode .game-mode__change-mode input~input {
        margin: 0
    }
    .game-mode .game-mode__change-mode input {
        width: 15vw;
        font-size: 16px;
        padding: 2vw 2vw
    }
    .game-mode .game-mode__change-mode {
        margin-top: 5px
    }
    .game-mode {
        margin: 5px 0
    }
    .hover-result .hover-result__wrap {
        margin: 0 5vw;
        line-height: 9vw;
        font-size: 4vw
    }
}