html {
    background-color: #d9d9d9;
}

.sprite {
    background-image: url("../img/sprite-sheet.png");
}

.calendar,
.destination,
.bar-graph {
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 20px -3px rgb( 0, 0, 0);
    -moz-box-shadow: 0px 0px 20px -3px rgb( 0, 0, 0);
    box-shadow: 0px 0px 20px -3px rgb( 0, 0, 0);
    background-color: #fff;
}

.submit-button {
    display: block;
    height: 58px;
    width: 298px;
    margin: 0 auto;
    border: none;
    border-radius: 2px;
    -webkit-box-shadow: 0px 2px 5px -1px rgb( 0, 0, 0);
    -moz-box-shadow: 0px 2px 5px -1px rgb( 0, 0, 0);
    box-shadow: 0px 2px 5px -1px rgb( 0, 0, 0);
    font: normal 15px "GothamSSm-Book", sans-serif;
    letter-spacing: 1px;
    text-decoration: none;
    background-color: #fb6362;
    text-align: center;
    line-height: 60px;
    color: #fff;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #f8b1b1;
}

.submit-button:focus {
    outline: none;
}

.calendar {
    width: 346px;
    height: 427px;
    margin: 50px auto 0 auto;
}

.calendar table {
    width: 300px;
    height: 280px;
    position: relative;
    margin: 0 37px;
}

.calendar .month-and-year {
    height: 63px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    font: normal 17px "GothamSSm-Book", sans-serif;
    letter-spacing: 0.9px;
    font-kerning: none;
    text-align: center;
    line-height: 62px;
    color: #fff;
    background-color: #404a58;
    cursor: default;
}

.calendar .month-and-year a {
    width: 7px;
    height: 12px;
}

.month-and-year .sprite-left-button {
    float: left;
    width: 7px;
    height: 12px;
    margin: 25px 0 0 38px;
    background-position: 0 0;
}

.month-and-year .sprite-right-button {
    float: right;
    width: 7px;
    height: 12px;
    margin: 25px 38px 0 0;
    background-position: -1px -30px;
}

tr {
    display: block;
    cursor: default;
}

td {
    display: inline-block;
    width: 26px;
    box-sizing: border-box;
    font: normal 14px "GothamSSm-Medium", sans-serif;
    line-height: 30px;
    text-align: center;
    color: #666;
    cursor: default;
}

tbody td {
    font: normal 14px "GothamSSm-Book", sans-serif;
}

thead td {
    font: normal 14px "GothamSSm-Medium", sans-serif;
}

thead td:not(:last-child) {
    margin: 25px 11px 23px 0;
}

tbody td:not(:last-child) {
    margin: 0 11px 23px 0px;
}

tbody td:focus,
tbody td:hover,
tbody tr:nth-child(1) td:focus-within:nth-child(5) {
    height: 37px;
    width: 37px;
    margin: -10px 6px 0px -6px;
    padding: 10px;
    border-radius: 18px;
    box-sizing: border-box;
    font: bold 14px "GothamSSm-Book", sans-serif;
    color: #fff;
    background-color: #fb6362;
    cursor: pointer;
    outline: 0;
}

tbody tr:nth-child(2) td:hover:nth-child(2),
tbody tr:nth-child(4) td:hover:nth-child(4),
tbody tr:nth-child(2) td:focus:nth-child(2),
tbody tr:nth-child(4) td:focus:nth-child(4) {
    color: #fff;
    background-color: #fb6362;
}

tbody tr:nth-child(1) td:nth-child(1),
tbody tr:nth-child(1) td:nth-child(2),
tbody tr:nth-child(5) td:nth-child(5),
tbody tr:nth-child(5) td:nth-child(6),
tbody tr:nth-child(5) td:nth-child(7) {
    color: #d4d4d4;
}

tbody tr:nth-child(2) td:nth-child(2),
tbody tr:nth-child(4) td:nth-child(4) {
    font: bold 14px "GothamSSm-Book", sans-serif;
    color: #fb6362;
}

.destination,
.bar-graph {
    width: 792px;
    height: 340px;
    margin: 50px auto 20px auto;
}

.destination .left-navigation {
    float: left;
    width: 72px;
    height: 340px;
}

.left-navigation ul {
    padding: 0;
}

.left-navigation ul a li {
    width: 72px;
    height: 113px;
    margin: 0;
    border-bottom: 1px #242931 solid;
    box-sizing: border-box;
    list-style: none;
    background-color: #404a58;
}

.left-navigation ul a:nth-child(1) li {
    padding-top: 48px;
}

.left-navigation ul a:nth-child(2) li {
    padding: 43px 0 0 11px;
}

.left-navigation ul a:nth-child(3) li {
    padding: 48px 0 0 4px;
    border: none;
}

.left-navigation div {
    margin: auto;
}

.left-navigation ul a:nth-child(1) div {
    width: 27px;
    height: 17px;
    background-position: 0 -60px;
}

.left-navigation ul a:nth-child(2) div {
    width: 27px;
    height: 25px;
    background-position: 0 -120px;
}

.left-navigation ul a:nth-child(3) div {
    width: 27px;
    height: 20px;
    background-position: 0 -90px;
}

.left-navigation ul li:hover {
    border: none;
    background-color: #fb6362;
}

.left-navigation ul a:first-child li {
    border-top-left-radius: 3px;
}

.left-navigation ul a:last-child li {
    height: 114px;
    border: none;
    border-bottom-left-radius: 3px;
}

.destination .info {
    position: relative;
    float: left;
    width: 357px;
    height: 340px;
    background: #fff;
}

.destination .info:after {
    left: 100%;
    top: 60px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-left-color: #fff;
    border-width: 22px;
    margin: -22px 0 0 -1px;
    z-index: 2;
}

.destination>input,
.destination section>.tab-block {
    display: none;
}

.info h1 {
    width: 200px;
    margin: 26px 0 0 35px;
    font: bold 21px "GothamSSm-Medium", sans-serif;
    line-height: 30px;
    word-spacing: 1px;
    letter-spacing: 0.4px;
    color: #4d4d4d;
}

#tab1:checked~section .tab1,
#tab2:checked~section .tab2,
#tab3:checked~section .tab3 {
    display: block;
}

#tab1:checked~.left-navigation ul a:nth-child(1) li,
#tab2:checked~.left-navigation ul a:nth-child(2) li,
#tab3:checked~.left-navigation ul a:nth-child(3) li {
    background-color: #fb6362;
}

.info .reviews,
.info .emphasized,
.info p {
    font: 14px "GothamSSm-Light", sans-serif;
    color: #999;
}

.info .reviews {
    margin: 11px 0 0 33px;
    cursor: default;
}

.info p {
    width: 280px;
    margin: 29px 0 0 35px;
    line-height: 24px;
    word-spacing: 0.8px;
    letter-spacing: 0.8px;
}

.info .emphasized {
    font-weight: 400;
    color: #4d4d4d;
}

.info .read-more {
    display: block;
    margin: 15px 0 0 34px;
    font: bold 14px "GothamSSm-Light", sans-serif;
    text-decoration: none;
    color: #fb6362;
    letter-spacing: 0.7px;
}

.info .read-more:hover {
    text-decoration: underline;
}

.destination .graphic-info {
    position: relative;
    float: right;
    width: 363px;
    height: 340px;
}

.graphic-info img {
    z-index: 1;
    border-radius: 0 3px 3px 0;
}

.graphic-info .comments,
.graphic-info .likes {
    position: absolute;
    font: normal 17px "GothamSSm-Book", sans-serif;
    color: #fff;
    cursor: default;
}

.graphic-info .comments {
    bottom: 22px;
    right: 125px;
}

.graphic-info .likes {
    bottom: 22px;
    right: 29px;
    letter-spacing: 1px;
}

.comments a,
.likes a {
    display: block;
    width: 25px;
    height: 22px;
}

.comments a {
    position: absolute;
    right: 40px;
    bottom: 1px;
    background-position: 0 -179px;
}

.likes a {
    position: absolute;
    right: 52px;
    bottom: 1px;
    background-position: 0 -150px;
}

.bar-graph {
    position: relative;
}

.bar-graph .line-chart {
    position: absolute;
    width: 703px;
    margin: 49px 0 0 42px;
    padding: 0;
    font: normal 12px "GothamSSm-Medium", sans-serif;
    color: #666;
}

.line-chart li {
    height: 17px;
    margin-bottom: 52px;
    list-style: none;
    border-bottom: 1px #eaeaea solid;
    cursor: default;
}

.bar-graph .graph-list {
    position: absolute;
    bottom: 63px;
    left: 105px;
    height: 169px;
    width: 700px;
    padding: 0;
    margin: 0;
}

.graph-list dt {
    display: inline-block;
    width: 20px;
    margin: 0 52px 0 -45px;
    font: normal 12px "GothamSSm-Medium", sans-serif;
    color: #666;
    cursor: default;
}

.graph-list dt:last-child {
    margin-right: 0;
}

.graph-list dd {
    position: relative;
    width: 55px;
    margin-bottom: 20px;
    border-radius: 2px;
    display: inline-block;
    list-style: none;
    background-color: #fb6362;
    cursor: pointer;
}

.graph-list dd .tooltip {
    position: absolute;
    top: -45px;
    width: 55px;
    height: 30px;
    border-radius: 2px;
    font: normal 12px "GothamSSm-Medium", sans-serif;
    line-height: 30px;
    text-align: center;
    color: #fff;
    background: #404a58;
    opacity: 0;
}

.graph-list dd .tooltip:after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -7px;
    border-width: 7px;
    border: solid transparent 7px;
    pointer-events: none;
    border-top-color: #404a58;
}

.graph-list dd:hover .tooltip {
    opacity: 1;
}

.graph-list dd {
    animation-name: pullUp;
    -webkit-animation-name: pullUp;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -webkit-transform-origin: 50% 100%;
}

@keyframes pullUp {
    0% {
        transform: scaleY(0.1);
    }
    100% {
        transform: scaleY(1);
    }
}

@-webkit-keyframes pullUp {
    0% {
        -webkit-transform: scaleY(0.1);
    }
    100% {
        -webkit-transform: scaleY(1);
    }
}
